/* Your Website Styles */
body{
  background: url("../img/green_cup.png")
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
nav{
  list-style: none;
  float: left;
  margin: 0 10px 0 10px;
}
nav a:link{
  color: red;
  text-decoration: none;
}
nav a:visited{
  color: yellow;
}
nav a:hover{
  color: orange;
  font-size: 26px;
}
nav a:active{
  color:teal;
}
a:focus{
  border: 3px dotted;
}
body {font-family: 'Ruluko', sans-serif;
}
a { font-family: 'Sniglet', cursive;
}
h1 {text-align: center;
}
.center {
	text-align: center;
}